@media(min-width:700px){
    .container{
        width:900px;
    }
    .input-group{
        position: relative;
        display:table;
        width:30%;
        float:right;
        
    }
    .list-title-wraper{
        width:auto;
    }
}
@media(max-width:700px)
{
    .input-group{
        position: relative;
        display:table;
        width:100%;
        float:right;
        
    }
}


.btn-article{
    float:right;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
}
.btn-article:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-article{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn{
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.wraper-input-group{
    display:block;
    height:40px;
}

.input-group .form-control{
    width:100%;
    float:left;
    display: table-cell;
    height: 34px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-color: #ccc;
    border-radius: 3px;
}
.input-group-btn {
    width: 1%;
    display:table-cell;
    vertical-align: middle;
   
}


.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/*여기서부터 글 테두리 */
.notice-panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ddd;
}
.list-group{
    padding-left:0;
}
.list-group-item{
    
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-right:50px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}


.avatar-photo {
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 50%;
    
    width:20px;
    height:20px;
   
}
.avatar-photo img{
    padding-bottom: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 auto;
}
.avatar{
    display:block;
}
.avatar-info{
    display:inline-block;
   
}
.avatar-info .nickname{
    font-size: 12px;
    padding-left:10px;

}
.avatar-info .date-created{
    font-size: 12px;
}

.list-item-author{
    padding-top:10px;
}